body {
  padding-top: 70px;
  /*padding-right: 2em;
  padding-left: 2em;*/
}
@media screen and (max-width: 768px) {
  body { padding-top: 0px; }
}

/* publications tab */
a .top_page {
  display: block;
}

/* portfolio tab */
/* 3 columns by default */
.grid-sizer,
.grid-item { width: 33%; }
.grid-item--width2 { width: 66%; }
.gutter-sizer { width: 0.25%; }
@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer,
  .grid-item { width: 19%; }
  .grid-item--width2 { width: 38%; }
  .gutter-sizer { width: 0.833%; }
}
.grid-item {
  margin-bottom: 10px;
}
.portfolio-item > img {
  max-width: 100%;
  margin: 0px auto -1px;
}
.portfolio-details {
  border: 1px solid #D8D8D8;
  padding: 0.5em 0.5em 0.4em 0.5em;
}
.portfolio-details > p {
  margin-top: 5px;
}
.portfolio-details > p + img {
  margin: 10px auto 5px;
}
.portfolio-details > h4 + img {
  margin: 7px auto 5px;
}
.portfolio-details > img + h4 {
  margin: 10px auto 0px;
}
.portfolio-links {
  margin-top: 10px !important;
}

/* library tab */
iframe {
  display: block;
  height: 20000px;
  width: 100%;
  border: none;
  position: absolute;
}
